
 /* ==========================================================================
   Main
 ========================================================================== */

@import "base/base";
@import "mixins/mixins";
@import "layout/layout";
@import "settings/settings";
@import "ui/ui";
@import "components/components";
@import "ux/ux";


// NOTE: for testing only
body {
  font-family: 'Helvetica Neue';
  color: #253137;
}

a.active {
  color: red;
}

// The end of this chapter..
