
 /* ==========================================================================
   Fonts
 ========================================================================== */

 @font-face {
   font-family: 'FONT_NAME_GOES_HERE';
   src: url('/font/FONT_NAME_GOES_HERE.eot');
   src: url('/font/FONT_NAME_GOES_HERE.eot?#iefix') format('embedded-opentype'),
        url('/font/FONT_NAME_GOES_HERE.woff2') format('woff2'),
        url('/font/FONT_NAME_GOES_HERE.woff') format('woff'),
        url('/font/FONT_NAME_GOES_HERE.ttf') format('truetype'),
        url('/font/FONT_NAME_GOES_HERE.svg#FONT_NAME_GOES_HERE') format('svg');
   font-weight: normal;
   font-style: normal;
 }



 // Chrome fix

 @media screen and (-webkit-min-device-pixel-ratio:0) {
   @font-face {
     font-family: 'FONT_NAME_GOES_HERE';
     src: url('/font/FONT_NAME_GOES_HERE.svg#FONT_NAME_GOES_HERE') format('svg');
   }
 }



 // THE END OF THIS CHAPTER..
