
// NOTE: solo para testeo
// .dd-wrapper {
//   position: absolute;
//   top: 600px;
//   left: 400px;
//   width: 500px;
// }

$width: 300px;
$border-width: 2px;
$list-top: 60px;
$list-item_height: 46px;

.dropdown {
  position: relative;
  display: inline-block;


  .btn.flat.center {
    position: absolute;
    width: $width;
    margin-left: 0;
    left: 50%;
    @include transform(translate3d(-50%, 0, 0));
  }

  .btn.flat.left {
    left: 0;
    margin-left: 0;
    text-align: left;
  }

  .btn.flat.right {
    right: 0;
    margin-right: 0;
    text-align: right;
  }
}

.test-dd-list {
  position: absolute;
  top: 0;
  right: 20px;
}
