
/* ==========================================================================
UX
========================================================================== */


.initial-loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: lightblue;
  z-index: 999999;

  h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    color: white;
    -webkit-transform: translate3d(-50%, -50%, 0);
    transform: translate3d(-50%, -50%, 0);
  }
}


.generic-loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 6px;
  z-index: 999999;

  .transition-loader__line {
    position:relative;
    width: 100vw;
    height: 6px;
    background: deepskyblue;
    animation: roll 1s linear infinite;
  }
}


.shop-loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: deepskyblue;
  z-index: 999999;

  h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    color: white;
    -webkit-transform: translate3d(-50%, -50%, 0);
    transform: translate3d(-50%, -50%, 0);
  }
}



@-moz-keyframes roll {
  0% { width: 0; }
  100% { width: 100vw; }
}

@-webkit-keyframes roll {
  0% { width: 0; }
  100% { width: 100vw; }
}


// PAGES

.transition-enter {
  opacity: 0.01;
  @include transition(opacity 0.6s ease);
}

.transition-enter.transition-enter-active {
  opacity: 1;
}


.transition-out {
  opacity: 1;
  @include transition(opacity 0.6s ease);
}

.transition-out.transition-out-active {
  opacity: 0.01;
}




// THE END OF THIS CHAPTER..
