

.background-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 0;

  .bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-size: cover;
    background-position: center center;
    pointer-events: none;

    .video-bg {
      position: fixed;
      top: 0;
      left: 0;
      z-index: 1;
      min-width: 100vw;
      min-height: 100vh;
      width: auto;
      height: auto;
      overflow: hidden;
      background-size: cover;
      z-index: -1;
      pointer-events: none;
    }
  }
}
