
/* ==========================================================================
  Grid

  NOTE: no se si esto debería esta aquí o el 'layout' o algo similar
========================================================================== */

// Numero máximo de columnas en el grid
$grid-columns: 12 !default;


// Padding entre columnas
$grid-gutter: 30 !default;


// Tamaños de pantalla
// Define las medidas de los breakpoints
$screen-sm: 320px;
$screen-md: 768px;
$screen-lg: 1024px;
$screen-hd: 1200px;


// Breakpoints
// Define los sufijos para los breakpoints
$breakpoints: (
  'sm': 'base',
  'md': '(min-width: #{$screen-md})',
  'lg': '(min-width: #{$screen-lg})',
  'hd': '(min-width: #{$screen-hd})'
);


// Tamaños de contenido
// Define el ancho máximo del elemento al que se le aplique la media query
$content-sm: 100%;
$content-md: 760px;
$content-lg: 980px;
$content-hd: 1200px;

// Prefijo
$prefix: "" !default;


// Container
.container,
[#{$prefix}container] {
  // display: flex;
  // flex-wrap: wrap;
  position: relative;
  width: 100vw;
  margin: 0 auto;
  padding-left: $grid-gutter + px;
  padding-right: $grid-gutter + px;

  @include bp-sm { max-width: $content-sm; }
  @include bp-md { max-width: $content-md; }
  @include bp-lg { max-width: $content-lg; }
  @include bp-hd { max-width: $content-hd; }
}


// Container full
.container-full,
[#{$prefix}container-full] {
  // display: flex;
  // flex-wrap: wrap;
  position: relative;
  width: 100vw;
  margin: 0 auto;
}




// Box
[class*="box-"],
[#{$prefix}box] {
  padding-left: $grid-gutter + px;
  padding-right: $grid-gutter + px;
}


// Grid
@mixin grid($acronym) {
  @for $i from 1 through $grid-columns {
    $size: 100% / $grid-columns * $i;
    // Box
    .box-#{$acronym}-#{$i},
    [#{$prefix}box~="#{$acronym}-#{$i}"] {
      position: relative;
      float: left;
      width: $size;
      min-height: 1px;
      // flex-basis: auto;
      // width: $size;
    }
    // Box offset
    .box-offset-#{$acronym}-#{$i},
    [#{$prefix}box~="#{"offset-" + $acronym}-#{$i}"] {
      margin-left: $size;
    }
  }
}

.container-full:after,
[#{$prefix}container-full]:after,
.container:after,
[#{$prefix}container]:after,
[class*="box-"]:after,
[#{$prefix}box]:after {
  content: "";
  display: table;
  clear: both;
}


// Mediaqueries
@each $acronym, $breakpoint in $breakpoints {
  @if $breakpoint == 'base' {
    @include grid($acronym);
  } @else {
    @media #{$breakpoint} {
      @include grid($acronym);
    }
  }
}
