
 /* ==========================================================================
   Buttons
 ========================================================================== */

$button-normal-size: 46px;
$button-large-size: 82px;
$icon-normal-size: 30px;
$button-rounded-min-width: 128px;

// Colores
// TODO: definir colores
// NOTE definimos primero los colores para que no se pisen los background-color
// (ej.: .btn.flat o .btn.outline)
@each $name, $value in $colors {
  .btn.#{$name} {
    color: $white;
    background-color: $value;

    &.flat { color: $value; }
    &.outline, &.underline { color: $value; border-color: $value; }
    &.underline:after { background-color: $value; }
    &.icon.fab { background-color: $value; }
    &.icon.rounded { background-color: $value; }
  }
}

// Tipos

/**
 * @class: .btn
 * @description: esta clase define los estilos más basicos y comunes para
 * todos los componentes Button.
 */
.btn,
.btn.base {
  position: relative;
  display: inline-block;
  cursor: pointer;
  font-family: 'montserratregular';
  font-size: 16px;
  line-height: 1;
  text-decoration: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;

  // NOTE: solo para desarrollo
  margin: 20px;
}

.btn.disabled {
  opacity: 0.5;
  pointer-events: none;
}

/**
 * @class: .normal
 * @description: es el tipo (type prop) por defecto que se se aplica a cualquier
 * componente Button de la aplicación.
 */
.btn.normal {
  width: auto;
  // min-width: 60px;
  height: auto;
  min-height: $button-normal-size;
  padding: 16px 30px;
  border-radius: 25px;
}

/**
 * @class: .flat
 * @description: es el tipo de componente Button que tan solo tiene texto.
 */
.btn.flat {
  width: auto;
  height: auto;
  background-color: transparent;
}

/**
 * @class: .outline
 * @description: es el tipo de componente Button que tiene el fondo
 * transparente y el borde de color.
 */
.btn.outline {
  width: auto;
  // min-width: 60px;
  height: auto;
  max-height: $button-normal-size;
  padding: 14px 28px;
  border: 2px solid;
  border-radius: 25px;
  background-color: transparent;
}

/**
 * @class: .underline
 * @description: es el tipo de componente Button que tiene el fondo
 * transparente, el borde de color y asdemás el texto subrrayado.
 */
.btn.underline {
  width: auto;
  height: auto;
  background-color: transparent;

  &:after {
    content: '';
    position: absolute;
    bottom: -6px;
    left: 0;
    width: 100%;
    height: 2px;
  }
}

/**
 * @class: .block
 * @description: es el tipo de componente Button que ocupa el 100% del ancho
 * de su contenedor.
 */
.btn.block {
  display: block;
  width: 100%;
  min-width: 100%;
  height: auto;
  max-height: $button-normal-size;
  padding: 16px 30px;
}


/**
 * @class: .icon
 * @description: es el tipo de componente IconButton por defecto que se se
 * aplica a cualquier componente Button de la aplicación.
 */
.btn.icon:not(.fab),
.btn.icon:not(.rounded) {
  width: auto;
  height: auto;
  background: transparent;

  svg { pointer-events: none; }
}

/**
 * @class: .fab
 * @description: es el
 */
.btn.icon.fab {
  width: $button-normal-size;
  max-width: $button-normal-size;
  height: $button-normal-size;
  max-height: $button-normal-size;
  padding: 6px;
  border-radius: 50%;

  &.large {
    width: $button-large-size;
    max-width: $button-large-size;
    height: $button-large-size;
    max-height: $button-large-size;
  }

  svg {
    position: absolute;
    top: 50%;
    left: 50%;
    width: $icon-normal-size;
    max-width: $icon-normal-size;
    height: $icon-normal-size;
    max-height: $icon-normal-size;
    @include transform(translate3d(-50%, -50%, 0));
  }
}


/**
 * @class: .rounded
 * @description: es el
 */
.btn.icon.rounded {
  width: $button-rounded-min-width;
  min-width: $button-rounded-min-width;
  height: $button-normal-size;
  max-height: $button-normal-size;
  padding: 6px 0;
  border-radius: 25px;

  svg {
    position: absolute;
    top: 50%;
    left: 50%;
    width: $icon-normal-size;
    max-width: $icon-normal-size;
    height: $icon-normal-size;
    max-height: $icon-normal-size;
    @include transform(translate3d(-50%, -50%, 0));
  }
}


// Alineación
.btn.left { text-align: left; }
.btn.center { text-align: center; }
.btn.right { text-align: right; }




// The end of this chapter..
