
.alert-wrapper {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 999999;
  background-color: rgba($black, 0.1);

  .alert-content {
    position: absolute;
    width: 100%;
    // TODO: $main-header-height
    height: 80px;
    top: 0;
    left: 0;
    background-color: $green;
    text-align: center;
    vertical-align: middle;
    padding-top: 30px;
    z-index: 2;

    h1 { color: $white; }

    &.default { background-color: $default; }
    &.primary { background-color: $primary; }
    &.success { background-color: $success; }
    &.info { background-color: $info; }
    &.warning { background-color: $warning; }
    &.danger { background-color: $danger; }
  }

  .close {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
  }
}
