
.notification-wrapper {
  position: fixed;
  width: 100vw;
  // TODO: $main-header-height
  height: 80px;
  top: 0;
  left: 0;
  z-index: 999999;

  .notification-content {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: $green;
    text-align: center;
    vertical-align: middle;
    padding-top: 18px;

    h1 { font-size: 20px; font-weight: bold; color: $white; }
    p { color: $white; }

    &.default { background-color: $default; }
    &.primary { background-color: $primary; }
    &.success { background-color: $success; }
    &.info { background-color: $info; }
    &.warning { background-color: $warning; }
    &.danger { background-color: $danger; }
  }
}
